html
  head
    title About
    include head.jade
  body
    .container
      include header.jade
      .site-content
        div#about-acknowledgements
        .text-container
          h2 Acknowledgements
          | This site is operated by the 
          a(href='https://govex.jhu.edu/', target='_blank') Center for Government Excellence
          |  at Johns Hopkins University, in partnership with 
          a(href='http://rose.geog.mcgill.ca', target='_blank') Renee Sieber 
          | of 
          a(href='http://geothink.ca/', target='_blank') Geothink
          | , 
          a(href='https://www.mcgill.ca/', target='_blank') McGill University
          |  and 
          a(href='https://groups.google.com/forum/#!topic/data-standards-discovery-use-and-creation/') members of the open data community
          | . Our initial work is based upon research conducted by 
          a(href='http://geothink.ca/tag/rachel-bloom/', target='_blank') Rachel Bloom
          | , and will expand to include work compiled by 
          a(href='https://www.linkedin.com/in/mckinneyjames/', target='_blank') James McKinney
          |  and others.
          a(href='https://docs.google.com/spreadsheets/d/1lqnfwPtaI9cqHMnxkclvtLLsmhVPESPJAajpWDHcOsg/edit?usp=sharing', target='_blank')  Categories
          |  were defined by Jury Konga. It was funded through the 
          a(href='https://whatworkscities.bloomberg.org/', target='_blank') What Works Cities
          |  program, sponsored by 
          a(href='https://www.bloomberg.org/') Bloomberg Philanthropies
          | . Site development by 
          a(href='https://www.linkedin.com/in/julia-conzon-991034115', target='_blank') Julia Conzon
          | and 
          a(href='https://ca.linkedin.com/in/nicolas-levy-69873a139', target='_blank') Nicolas Levy
          | , with support from 
          a(href='https://www.linkedin.com/in/sophia-dengo-0548a9a/', target='_blank') Sophia Dengo
          | , 
          a(href='https://www.linkedin.com/in/andrewnicklin/', target='_blank') Andrew Nicklin
          | , 
          a(href='https://www.linkedin.com/in/sharonpaley/', target='_blank') Sharon Paley
          | , and 
          a(href='https://www.linkedin.com/in/matthew-pazoles-0bb93619/', target='_blank') Matthew Pazoles
          | .
        br
        .text-container#about-development
          h2 Development
          | This site is under continual development. Source code is accessible on 
          a(href='https://github.com/govex/datastandards.directory', target='_blank') GitHub
          p 
              strong Open source codes: 
              a(href='https://developers.google.com/fonts/', target='_blank') Google API Font
              | , 
              a(href='https://thenounproject.com/', target='_blank') Noun Project
              | , 
              a(href='http://fontawesome.io/', target='_blank') Font Awesome
            p
              strong Open source icons: 
              | Sarah Joy, Jayati Bandyopadhyay, Aruther Shillain, Evan Shuster, Karthik Srinivas, icon 54, Daouna Jeong, Piero Borgo, Vicons Design, Davo Sime, Made, Shawn M, Kokota, Jinashi Wu, Nook Fulloption, Jonathan Collie
        br
        .text-container
          a(href='https://xkcd.com/927/', target='_blank')
            img(src='https://imgs.xkcd.com/comics/standards.png')
          p.credit Credit XKCD
      include footer.jade
      script.
        $('#about').addClass("selected-page");
