html
  head
    title Contact
    include head.jade
    script(src='/javascripts/update.js')
  body
    .container
      include header.jade
      .site-content
        h1 CONTACT US
        .text-container.form
          form.comment
            p
              label Name 
              input(type='text', name='client_name', placeholder='Input your name [optional]', value='')
            p
              label E-mail 
              input#input37(type='text', name='email', placeholder='Input your email', value='')
            p
              label Comment 
              input#input38(type='text', name='comment', placeholder='Input your comment', value='')
            p.timestamp
              input#timestamp(type='text', name='timestamp', value='')
          .popup.success
            | We have received your comment. We will review your response within 7 days. Thank you.
          .popup.error
          button.submit.large Submit
      include footer.jade
    script.
      $('#contact').addClass("selected-page");
      $('.popup').hide(); // hides popup information that would appear after a client submits form
      var recorded = document.getElementById("timestamp").value // create variable to store the date
      var date = new Date(); // get the current date
      var month = date.getMonth() + 1; // get the current month
      var year = date.getFullYear(); // get the current full year
      var day = date.getDate(); // get the day
      // Creates current date in the same format as the rest of the dates in the database
      if (String(day).length < 2){
      recorded = month + "-0" + day + "-" + year;
      } else if (String(month).length < 2) {
      recorded = "0" + month + "-" + day + "-" + year;
      } else {
      recorded = month + "-" + day + "-" + year;
      }
      document.getElementById("timestamp").value = recorded; // update the timestamp to this reformatted date
      // when user submits form, post run the postUpdate function to post the data to database
      $(".submit").click(function(){
      var form = $(".comment");
      postUpdate(form);
      });
