html
  head
    title Directory
    include head.jade
    // custom JS functions
    script(src='/javascripts/add.js')
    script(src='/javascripts/update.js')
    script(src='/javascripts/post-contribution.js')
  body
    .container
      include header.jade
      .site-content
        h1 Add / Update Data Standards
        .text-container
          h2 Add
          h3
            ul
              li 
                i Are you a standard provider?
              li 
                i Do you know a standard that isn't in the directory?
          a(href='/contribute/add')
            button Add
         .text-container
          h2 Update
          h3
            ul
              li 
                i Is your standard outdated?
              li 
                i Is a standard outdated?
          a(href='/contribute/update')
            button Update
        include footer.jade


