html
  head
    title Contact
    include head.jade
    script(src='/javascripts/update.js')
    script(src='/javascripts/timestamp.js')
  body
    .container
      include header.jade
      .site-content
        h1 CONTACT US
        .text-container.form
          form.comment
            p
              label Name 
              input(type='text', name='client_name', placeholder='Input your name [optional]', value='')
            p
              label E-mail 
              input#input37(type='text', name='email', placeholder='Input your email', value='')
            p
              label Comment 
              input#input38(type='text', name='comment', placeholder='Input your comment', value='')
            p.timestamp
              input#timestamp(type='text', name='timestamp', value='')
          .popup.success
            | We have received your comment. We will review your response within 7 days. Thank you.
          .popup.error
          button.submit.large Submit
      include footer.jade
    script.
      timestamp();
      $('#contact').addClass("selected-page");
      $('.popup').hide(); // hides popup information that would appear after a client submits form
      // when user submits form, post run the postUpdate function to post the data to database
      $(".submit").click(function(){
      $(".popup").hide();
      var form = $(".comment");
      postUpdate(form);
      });
