html
  head
    title Contact
    include head.jade
    script(src='/javascripts/update.js')
    script(src='/javascripts/timestamp.js')
  body
    .container
      include header.jade
      .site-content
        h1 CONTACT US
        .text-container.form
          form.comment
            p
              label Name 
              input#name(type='text', name='client_name', placeholder='Input your name [optional]', value='')
            p
              label E-mail 
              input#input37(type='text', name='email', placeholder='Input your email', value='')
            p(style='height: 110px')
              label Comment 
              textarea#input38(rows='5', name='comment', placeholder='Input your comment', value='')
            p.timestamp
              input#timestamp(type='text', name='timestamp', value='')
          .popup.success
            | We have received your comment. We will review your response within 7 days. Thank you.
          .popup.error
          button.submit.large Submit
      include footer.jade
    script.
      timestamp();
      $('#contact').addClass("selected-page");
      $('.popup').hide(); // hides popup information that would appear after a client submits form
      // when user submits form, post run the postUpdate function to post the data to database
      $(".submit").click(function(){
      $(".popup").hide();
      var form = $(".comment");
      postUpdate(form);
      //Google form autofill
      var formURLbase = 'https://docs.google.com/forms/d/e/1FAIpQLScAvZj5HUFHZtcJ6SofF8CMtbVy0lkuDwYwQDNgUavDPY5Avw/formResponse';
      var nameURL = '?entry.1092914073=' + $("#name").val();
      var emailURL = '&entry.679147926=' + $("#input37").val();
      var commentURL = '&entry.869466190=' + $("#input38").val();
      var formURL = formURLbase + nameURL + emailURL + commentURL + '&submit=Submit';
      console.log(formURL);
      window.open(formURL, '_blank');
      });
