html
  head
    title Directory
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // stylesheets
    link(rel='stylesheet', type='text/css', href='/stylesheets/home.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/directory.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/stylesheet.css')
    // Font Awesome Icons
    script(src='https://use.fontawesome.com/5f92b1f541.js')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // custom JS functions
    script(src='/javascripts/search.js')
    script(src='/javascripts/autosearch.js')
    script(src='/javascripts/click-to-directory.js')
    script(src='/javascripts/build-standard.js')
    script(src='/javascripts/build-metrics.js')
    script(src='/javascripts/click-on-standard.js')
    script(src='/javascripts/sort.js')
    script(src='/javascripts/build-directory.js')
    script(src='/javascripts/get.js')
  body
    .container
      include navigation.jade
      .site-content
        h1 OPEN DATA STANDARDS DIRECTORY
        .directory
          include categories.jade
          .directory-results
            .no-results
            .directory-items
              strong.search-title
              .filters
                strong Sort  
                select#sortby.dropdown
                  option(selected='selected')
                  option(value='new') Newest
                  option(value='old') Oldest
                  option(value='updated') Last Updated
            #standards
        .text-container
          h2 Open Data Standards Definition:
          h3
            | An open data standard is a set of specifications (or requirements) for how some sets of data should be made publicly available. Generally, open data standards describe data about a particular subject, for example service requests (Open311) or building permits (BLDS). Like the data they describe, open data standards are generally developed “in the open”, meaning that anyone who is interested has a way to contribute.
          a(href='/about')
            button
              Learn About The Project
         .text-container
          h2 Example:
          h3
            | Open data standards allow data to be more easily consumed and repurporsed for valuable ends. Consider the 
            a(href='https://developers.google.com/transit/gtfs/', target='_blank') General Transit Feed Specification (GTFS)
            | . Through collaborations with public and private organizations, a standarad for public transporation was developed. Since its establishment, several municipalities across North America have adopted the standard. The GTFS has made it easier for citizens to know what public transportation to take to get to their destination on time.
          a(href='/glossary')
            button
              Learn About Open Data Standards
        include footer.jade
    script(type='text/javascript').
      // create jQuery tooltip
      $( function() {
      $( document ).tooltip();
      } );
      getURL()
