html
  head
    title Directory
    // stylesheets
    include head.jade
  body
    .container
      include header.jade
      .site-content
        h1 OPEN DATA STANDARDS DIRECTORY
        .directory
          .directory-results
            #standards
              include standards.jade
        include footer.jade
    - if (standards.length > 1)
      script.
        clickStandard();
    script(type='text/javascript').
      var standard = $('#standards').find('.standard-container')
      var standards = [];
      for (var i = 0; i < standard.length; i++){
        standards.push(standard[i]);
      }
      $('#sortby').on('change', function() {
        var sorted = sortby(standards)
        $('.directory-standards').html(sorted);
      });
     
