link(rel='stylesheet', type='text/css', href='/stylesheets/footer.css')
br
.footer
	| © 2017 - 
	a(href='https://odstandards-directory.herokuapp.com/directory/api/all-standards', target='_blank') SOURCE DATA -
	| 
	a(href='/contact') CONTACT