link(rel='stylesheet', type='text/css', href='/stylesheets/footer.css')
br
.footer
	© 2017  |  
	a(href='https://datastandards.directory/api/all-standards', target='_blank') SOURCE DATA  |  
	a(href='https://github.com/govex/datastandards.directory', target='_blank') GITHUB