html
  head
    title Glossary
    include head.jade
  body
    .container
      include header.jade
      .site-content
        .text-container#glossary-definition
          h2 OD Standards Definition
          | An open data standard is a set of specifications (or requirements) for how some sets of data should be made publicly available. Generally, open data standards describe data about a particular subject, for example service requests (
          a(href='http://www.open311.org/', target='_blank') Open311
          | ) or building permits (
          a(href='http://permitdata.org/', target='_blank') BLDS
          | ). Like the data they describe, open data standards are generally developed “in the open”, meaning that anyone who is interested has a way to contribute. There are several types of standards, two of which are explained below:
          ul
            li
              strong Schematic: 
              | Schematic standards define the structure of the data to be published. This includes the names, descriptions, and data types of data fields or columns. Schematic standards also may include how one dataset is related to another.
            li
              strong Semantic: 
              | Semantic standards define the terminology or language in the data which is published. For example, 
              a(href='https://ucr.fbi.gov/nibrs-overview', target='_blank') U.S. FBI NIBRS / Unified Crime Reporting
              |  semantics include the terms “
              kbd Arson
              | ” and “
              kbd Robbery
              | ,” with a detailed definition of what each term means. (Note: NIBRS also includes schematic standards.)
            li
              strong Atomic: 
              | Atomic standards define how basic elements of data must be represented when there is an opportunity for confusion. Atomic standards may represent individual data values or a combination of data values. For example, a date and time should be formatted as “
              kbd 2017-01-01T13:00:00Z
              | ” (the 
              a(href='https://en.wikipedia.org/wiki/ISO_8601', target='_blank') ISO8601
              |  representation for “January 1, 2017 at 1pm Universal Coordinated Time”). For another example, a spatial location should be represented as “
              kbd +37.5665,+126.9780
              | ” (the 
              a(href='https://en.wikipedia.org/wiki/World_Geodetic_System', target='_blank') WGS84 coordinates
              |  for Seoul, South Korea).
          | 					Some open data standards combine one or more of the above types where it makes sense to do so. For example, BLDS recommends publishing a data element named PermitClassMapped which may contain one of two values: “
          kbd Residential
          | ” or “
          kbd Non-Residential
          | ”. BLDS further defines “
          kbd Residential
          | ” as ‘Residential (Single Family/Duplex)’ and “
          kbd Non-Residential
          | ” as ‘Non-Residential (Commercial, Industrial, Institutional).’
        br
        .text-container#glossary-example
          h2 Example
          | Open data standards allow data to be more easily consumed and repurporsed for valuable ends. Consider the General Transit Feed Specification (GTFS). Through collaborations with public and private organizations, a standarad for public transporation was developed. Since its establishment, several municipalities across North America have adopted the standard. The GTFS has made it easier for citizens to know what public transportation to take to get to their destination on time.
        br
        .text-container#glossary-metrics
          h2 Metrics
          .legend#glossary-legend
            #glossary-metrics-color 
              | Click-to or hover-over to see metric's description
              br
              br
              include metric-template.jade
              br
              br
              strong.legend-title
              .row-1
                a.subtitle  Yes
                a.subtitle  No
                a.subtitle  Unsure
              .row-2
                a.tooltipStyle(data-toggle='tooltip', title='Yes')
                  button#metric(class='metric', type='button', style='color:white; background-color: #619e81;')    
                a.tooltipStyle(data-toggle='tooltip', title='No')
                  button#metric(class='metric', type='button', style='color:white; background-color: #990033;')
                a.tooltipStyle(data-toggle='tooltip', title='No Data')
                  button#metric(class='metric', type='button', style='color:white; background-color: #37393B;')
            #legend-metrics.legend-metrics
              ul
                li#open
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-unlock(aria-hidden='true')
                  strong  Open License 
                  p
                    | What qualifies a standard as being “open” is debated. However, openness may be inferred when the standard is published under an open license. Open licenses iterate that anyone has the right to repurpose and share the material without restriction. Examples of open licenses include public domain licenses, the UK Open Government License v3, creative commons licenses, and open data common licenses (World Bank, Open Data Essentials).
                li#transferable
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-exchange(aria-hidden='true')
                  strong  Transferable to Other Jurisdictions 
                  p
                    | There is a hierarchy regarding the ease of implementation for a standard. For example, CSV format of a standard requires a minimal degree of resources and technical knowledge. On the other hand, more complex and sophisticated ways of formatting standards, such as RDF and SOAP, are not as easy for municipal bodies to implement. More often than not, sophisticated formats tend not to be manageable for municipal actors that lack resources and technical background. Standards that handle dynamic data and cURL APIs exemplify more complex ways of publishing city datasets.
                li#stakeholder
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-group(aria-hidden='true')
                  strong  Stakeholder Participation 
                  p
                    | Stakeholders for a standard include civil society, government, and the private sector. An open standard should aim to include all types of stakeholders in its conception and maintenance. Types of stakeholder participation can be inferred based on the types of publisher reputations.
                li#consensus
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-thumbs-up(aria-hidden='true')
                  strong  Consensus-Based Governance 
                  p
                    | Standardization implies an ongoing dialogue between producers and consumers of data. It is important to note that consensus-based governance does not mean that all inputs are accepted if the majority agrees. Instead, consensus-based indicates a process willing to address any request pertaining to the standard’s statement of purpose.  A charter providing transparency of decisions about the standard’s evolution support a consensus-based approach. Consensus-based governance can be inferred by the presence of a mailing list or active working group for the standard.
                li#extension
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-external-link(aria-hidden='true')
                  strong  Extensions 
                  p
                    | This indicates the flexibility of a standard’s implementation. Extensibility of a standard provides insight into how a standard is being implemented and enhanced for specific purposes.
                li#human
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-eye(aria-hidden='true')
                  strong  Human Readable 
                  p
                    | Human readable requires a medium of data or information that can easily be understood by people. Therefore, the standard should encode the data by using easily identifiable text. Of course, there are semantic consideration for human readable standards. For example, there could be a variety of interpretive meanings associated with encoding the data through text.
                li#machine
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-desktop(aria-hidden='true')
                  strong  Machine Readable 
                  p
                    | Acceptable machine readable structures include XML, RSS feed, CSV, RDF, JSON, TXT, XLS(X), and KML formats. Formats that are not machine readable include PDF, HTML, DOC(X), anything scanned, anything faxed, and anything typed in an email (Suszan, 2014). Standard’s ought to compliment techniques to provide human and machine readable structures for the data. Publishing data as machine readable includes (1) established standard vocabularies, (2) enriching the HTML resources with metadata, semantics, and identifiers, (3) and implementing simple, manageable, and stable URIs (Bennett and Harvey, 2009). Data tables, according to the standard’s specification, should be normalized so to be incorporated into a relational database.
                li#up-to-date
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-clock-o(aria-hidden='true')
                  strong  Requires Up-To-Date Data 
                  p
                    | This metric varies depending on the domain of the data. Some domains require formats that handle data in real time. However, other domains may require that the standard specify that data be updated quarterly or annually. For example, standards that handle transit and road construction data would require a web feed format to deliver updates about developments as they occur. However, budget datasets only requires a quarterly or yearly update. In practice, many municipal publishers still publish data in static files.
                li#metadata
                  a.tooltipStyle
                    button#metric(type='button', class='metric', style='color:white;')
                      i.fa.fa-file(aria-hidden='true')
                  strong  Takes into Account Associated Metadata for the Dataset 
                  p
                    | This metric checks whether the standard schema requires metadata. A “yes” for this metric indicates a presence of both descriptive and structural metadata for the primary data. Each standard should readily make available the time and date of the data’s creation, the author, location of the data on the computer networks, and information about any standard applied to the raw data. Metadata should have embedded permanent and/or discoverable URIs and should utilize electronic citations of the data in the form of hyperlinks (Bennett and Harvey, 2009).
        .text-container#glossary-classification
          h2 Classification
          h3 Categories
          | Originally 
          a(href='https://docs.google.com/spreadsheets/d/1lqnfwPtaI9cqHMnxkclvtLLsmhVPESPJAajpWDHcOsg/edit?usp=sharing', target='_blank') defined 
          | by 
          a(href='https://ca.linkedin.com/in/jurykonga') Jury Konga
          | , categories have evolved to meet a growing inventory of open data standards
          h3 Tagging
          | Tagging open data standard entries in the Directory allows users to view quick facts about the standard. Tagging also links standards with shared characteristics, allowing users to view all standards with a particular tag.
          h3 Facets
          | Facets lend additional meaning to tags. If a tag is describing a particular characteristic of an open data standard (a facet), all other tags describing the same characteristic can be grouped within the same facet. Facets also allow users to filter search results by desired facet values.
          ul
            li#subject
              strong Subject: 
              | This facet is used to separate tags specifying the subject matter a data standard is used to describe. Similar to the original purpose of the “Category” attribute, this facet is meant to classify non-exclusive descriptors specifying the content of a dataset in a standard. Values might include subjects more specific to a category such as “
              kbd Financial
              | ”. For example, 
              i Checkbook NYC 
              | specifies 
              kbd annual budget
              | , 
              kbd expenditure
              | , and 
              kbd procurement contracts
              | .
            li#datatype
              strong Data Type: 
              | Some standards specify a format in which data must be serialized, such as XML or CSV, while some standards merely specify element or attribute names, allowing users to publish in any machine-readable format. Some standards specify multiple data files in different formats. In such cases a standard can have multiple 
              kbd dataType 
              | tags for different formats. 
              kbd dataType 
              | can also be used to describe standards that don’t require static datasets. The tag “
              kbd dataType:static
              | ” can be used to distinguish the former. Standards that don’t specify published datasets might have the values “
              kbd metadata
              | ” or “
              kbd ontology
              | ”. Standards used for data exchange between hardware systems (such as 
              i TCIP 
              | or 
              i EML
              | ) can also be distinguished from published static datasets with the tag “
              kbd dataType:hardware
              | ”.
            li#providertype
              strong Provider Type: 
              | This Directory was originally conceived to hold standards for governmental open data, yet some standards are used in the private sector or by non-governmental organizations. All standards currently in the Directory featuring a list of data providers are public-sector standards. Their associated lists include names of cities or government agencies. Many standards, such as 
              i WaterML 
              | are not used specifically in government publications and therefore might receive the values “
              kbd public
              | ” and “
              kbd private
              | ”. A third value, “
              kbd non-profit
              | ” is likely also necessary to describe some open data standards.
            li#language
              strong Language: 
              | Most entries in the Directory require the use of English element names and attributes. Many standard publishers provide documentation in languages other than English that describe language compatibility issues and solutions.
            li#keyword
              strong Keyword: 
              | Any tags that do not describe a facet of a standard should be qualitative descriptors of the standard or other miscellaneous attributes. The value "
              kbd GitHub
              | " can denote an open standard that is maintained on GitHub. The value "
              kbd CKAN
              | " can denote a standard that is compatible with the CKAN open data system. The value "
              kbd API
              | " should be given to standards whose publishers or a third party has provided an API for sharing data in that standard. Common qualitative keywords are "
              kbd transparency
              | " and "
              kbd open government
              | ".
        include footer.jade
    script
      $('#glossary').addClass("selected-page");
