html
  head
    title Directory
    include head.jade
  body
    .container
      include header.jade
      .site-content
        .logos
          a(href='https://govex.jhu.edu')
            img(src='/images/govex.png' id='govex-logo')
          a(href='http://geothink.ca/')
            img(src='/images/geothink.png' id='geothink-logo')
        .directory
          .search
            span.fa.fa-search(aria-hidden='true')
            input.large.long.search-input#search(type='text', name='search', placeholder='type a category or open data standard + press enter')
          include categories.jade
        .text-container
          h2 Open Data Standards Definition
          h3
            | An open data standard is a set of specifications (or requirements) for how some sets of data should be made publicly available. Generally, open data standards describe data about a particular subject, for example service requests (Open311) or building permits (BLDS). Like the data they describe, open data standards are generally developed “in the open”, meaning that anyone who is interested has a way to contribute.
          a(href='/glossary')
            button
              Learn About Open Data Standards
         .text-container
          h2 Example
          h3
            | Open data standards allow data to be more easily consumed and repurporsed for valuable ends. Consider the 
            a(href='https://developers.google.com/transit/gtfs/', target='_blank') General Transit Feed Specification (GTFS)
            | . Through collaborations with public and private organizations, a standarad for public transporation was developed. Since its establishment, several municipalities across North America have adopted the standard. The GTFS has made it easier for citizens to know what public transportation to take to get to their destination on time.
          a(href='/about')
            button
              Learn About The Project
        include footer.jade
