link(rel='stylesheet', type='text/css', href='/stylesheets/navigation.css')
.header
  ul
    li#index
      a(href='/')
        i.fa.fa-home(aria-hidden='true')
    li#directory
      a(href='/directory') DIRECTORY
    li#contribute
      a(href='/contribute') CONTRIBUTE
    li#glossary
      a(href='/glossary') GLOSSARY
      .page-content
        a(href='/glossary#odstandards') Open data standards
        a(href='/glossary#legend-metrics') Categories
        a(href='/glossary#categories') Metrics
    li#about
      a(href='/about') ABOUT
      .page-content
        a(href='/about#project') About the project
        a(href='/about#acknowledgements') Acknowledgements
  
