form.update-standard
  p
    label(for='input35') Name 
    input#input35(type='text', placeholder='Input your name [optional]', name='client_name', value='')
  p
    label(for='input36') E-mail 
    input#input36(type='text', placeholder='Input your email [optional]', name='email', value='')
  p
    label(for='input37') Standard 
    select#input37.form-input(type='drop-down', name='standard')
  p
    label(for='input38') Comment 
    input#input38(type='text', name='comment', placeholder='Input anything regarding what needs to be updated for the standard', value='')
  p.timestamp
    input#timestamp(type='text', name='timestamp', value='')