@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.directory .directory-results {
  display: none;
  font-family: "Lato", sans-serif;
  color: #353638;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .directory .directory-results::after {
    clear: both;
    content: "";
    display: block; }
.directory .no-results {
  display: none;
  color: #353638;
  font-family: "Lato", sans-serif; }
.directory .directory-items {
  padding: 5px;
  font-size: 18px;
  display: inline; }
  .directory .directory-items .search-title {
    float: left; }
  .directory .directory-items .filters {
    float: right;
    padding: 20px 0px; }
    .directory .directory-items .filters .dropdown {
      background-color: #FFFeF7;
      border: solid;
      border-color: #E8C047;
      border-radius: 5px;
      color: #353638;
      padding: 5px;
      cursor: pointer; }
.directory .standards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: solid;
  border-color: #E8C047;
  color: #353638;
  font-family: "Lato", sans-serif;
  background-color: #FFFeF7;
  width: 900px;
  margin-top: 50px;
  padding: 10px; }
  .directory .standards .standard-header {
    text-align: justify; }
    .directory .standards .standard-header .standard-name {
      font-size: 20px;
      width: 100%;
      padding: 5px;
      padding-bottom: 10px;
      border-bottom: solid; }
      .directory .standards .standard-header .standard-name i#copy-link {
        float: right;
        cursor: pointer; }
        .directory .standards .standard-header .standard-name i#copy-link:hover {
          color: #4e4f52; }
      .directory .standards .standard-header .standard-name div.copy-link {
        display: none;
        background-color: #fff;
        text-decoration: underline;
        float: right;
        cursor: pointer; }
    .directory .standards .standard-header .standard-info {
      border-bottom: solid;
      width: 875px;
      padding: 5px;
      padding-bottom: 40px; }
      .directory .standards .standard-header .standard-info .metrics {
        display: inline;
        float: left; }
        .directory .standards .standard-header .standard-info .metrics a {
          border-color: #499AA0;
          text-decoration: none;
          color: #353638; }
        .directory .standards .standard-header .standard-info .metrics button#metric {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          border: 0px;
          margin: 2px; }
          .directory .standards .standard-header .standard-info .metrics button#metric:hover {
            cursor: pointer; }
          .directory .standards .standard-header .standard-info .metrics button#metric i {
            color: #fff; }
      .directory .standards .standard-header .standard-info .standard-items {
        display: inline;
        float: right;
        font-size: 15px;
        padding: 5px; }
        .directory .standards .standard-header .standard-info .standard-items #updated, .directory .standards .standard-header .standard-info .standard-items #added, .directory .standards .standard-header .standard-info .standard-items #version {
          display: inline; }
    .directory .standards .standard-header a.hide-show:hover {
      cursor: pointer; }
  .directory .standards .standard-body {
    text-align: justify; }
    .directory .standards .standard-body li {
      padding-right: 10px;
      padding-bottom: 7px; }
      .directory .standards .standard-body li a {
        border-color: #499AA0;
        text-decoration: none;
        color: #353638; }
      .directory .standards .standard-body li button#metric {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 0px;
        margin: 2px; }
        .directory .standards .standard-body li button#metric:hover {
          cursor: pointer; }
        .directory .standards .standard-body li button#metric i {
          color: #fff; }
.directory .standard-links {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 30px; }
  .directory .standard-links a {
    text-decoration: none; }
  .directory .standard-links a button {
    border: solid;
    border-color: #E8C047; }
  .directory .standard-links button {
    color: #E8C047;
    text-align: center;
    background-color: #FFFeF7;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    border: 1px;
    width: 225px;
    cursor: pointer;
    padding: 20px;
    margin: 0px; }
    .directory .standard-links button:hover {
      background-color: #E8C047;
      color: #FFFeF7; }

/*# sourceMappingURL=directory.css.map */
