.hide-show
	text-align: center
	display: block
	color: $button-color
	&:hover
		cursor: pointer
		color: darken($button-color, 10%)

	i
		margin-right: 10px

.form

	button.tag
		width: auto
		font-size: 11px
		margin-left: 5px
		padding: 4px
		border-width: 1px

	button.small
		width: 10%
		font-size: 14px
		float: right
		margin-right: -1px
		border-width: 1px
		padding: 5px

	p.highlight
		border: solid
		border-color: $banner-color
		background-color: lighten($banner-color, 50%)
	p
		text-align: left
		margin-bottom: 20px
		border: solid
		border: 1px
		border-radius: 5px
		padding: 10px
		font-size: 18px
		border: 1px solid $button-color

		#tag-value
			width: 62%
			margin-right: 1%

		#facet-label
			width: auto
			font-weight: normal
			margin-right: 4px
			float: right
			font-style: italic
			padding-top: 4px
			font-size: 14px

		label
			font-weight: bold
			width: 20%

		p label a
			float: left

		a
			margin-left: 5px
			text-align: left
			&:hover
				cursor: pointer

			i
				color: $dark-font-color
				&:hover
					cursor: pointer

		input
			height: 30px
			margin-top: -2px


		input[type="text"], input[type="email"], textarea, select
			float: right
			width: 72%
			padding: 3px
			font-family: $body-font
			border: 0px
			padding: 3px
			&:hover
				cursor: text

	.checkbox input[type="checkbox"]
		width: 20px
		margin-left: 50px
		&:hover
			cursor: pointer

	p.shortform
		display: block

	p.rationale
		margin-left: 15px

	p.metadata
		display: none

	p.timestamp
		display: none

	p.category
		height: 44px
		display: none

		input#input1-other
			display: none

	p.subcategory
		height: 44px
		display: none

		input#input41-other
			display: none

	form.update-standard p
		display: block

	form.update-standard p.timestamp
		display: none

.add-standard
	p
		display: none
