@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px;
  height: 100%; }
  html .container, body .container {
    min-height: 100%;
    position: relative; }
    html .container .site-content, body .container .site-content {
      padding-bottom: 60px;
      padding-top: 60px;
      background: url("/images/background.png");
      background-size: 100%; }
      html .container .site-content h1, body .container .site-content h1 {
        padding: 30px;
        font-family: "Lato", sans-serif;
        color: #353638;
        font-size: 50px;
        background-color: #FFFeF7;
        margin: 0px; }
      html .container .site-content .directory .directory-results, body .container .site-content .directory .directory-results {
        display: none;
        font-family: "Lato", sans-serif;
        color: #353638;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto; }
        html .container .site-content .directory .directory-results::after, body .container .site-content .directory .directory-results::after {
          clear: both;
          content: "";
          display: block; }
        html .container .site-content .directory .directory-results .click-to-learn, body .container .site-content .directory .directory-results .click-to-learn {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          text-align: center;
          margin-bottom: 30px; }
          html .container .site-content .directory .directory-results .click-to-learn a, body .container .site-content .directory .directory-results .click-to-learn a {
            text-decoration: none; }
          html .container .site-content .directory .directory-results .click-to-learn a button, body .container .site-content .directory .directory-results .click-to-learn a button {
            border: solid;
            border-color: #FFFeF7; }
          html .container .site-content .directory .directory-results .click-to-learn button, body .container .site-content .directory .directory-results .click-to-learn button {
            color: #353638;
            text-align: center;
            background-color: #499AA0;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            width: 448px;
            cursor: pointer;
            padding: 20px;
            margin: 0px; }
            html .container .site-content .directory .directory-results .click-to-learn button:hover, body .container .site-content .directory .directory-results .click-to-learn button:hover {
              background-color: #FFFeF7;
              color: #499AA0;
              border-color: #499AA0; }
        html .container .site-content .directory .directory-results .no-results, body .container .site-content .directory .directory-results .no-results {
          display: none;
          color: #353638;
          font-family: "Lato", sans-serif; }
        html .container .site-content .directory .directory-results .directory-items, body .container .site-content .directory .directory-results .directory-items {
          padding: 5px;
          font-size: 18px;
          display: inline; }
          html .container .site-content .directory .directory-results .directory-items .search-title, body .container .site-content .directory .directory-results .directory-items .search-title {
            float: left; }
          html .container .site-content .directory .directory-results .directory-items .filters, body .container .site-content .directory .directory-results .directory-items .filters {
            float: right;
            padding: 20px 0px; }
            html .container .site-content .directory .directory-results .directory-items .filters .dropdown, body .container .site-content .directory .directory-results .directory-items .filters .dropdown {
              background-color: #FFFeF7;
              border: solid;
              border-color: #E8C047;
              border-radius: 5px;
              color: #353638;
              padding: 5px;
              cursor: pointer; }
        html .container .site-content .directory .directory-results .standards, body .container .site-content .directory .directory-results .standards {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border: solid;
          border-color: #E8C047;
          color: #353638;
          font-family: "Lato", sans-serif;
          background-color: #FFFeF7;
          width: 900px;
          margin-top: 50px;
          padding: 10px; }
          html .container .site-content .directory .directory-results .standards .standard-header, body .container .site-content .directory .directory-results .standards .standard-header {
            text-align: justify; }
            html .container .site-content .directory .directory-results .standards .standard-header .standard-name, body .container .site-content .directory .directory-results .standards .standard-header .standard-name {
              font-size: 20px;
              width: 100%;
              padding: 5px;
              padding-bottom: 10px;
              border-bottom: solid; }
              html .container .site-content .directory .directory-results .standards .standard-header .standard-name i#copy-link, body .container .site-content .directory .directory-results .standards .standard-header .standard-name i#copy-link {
                float: right;
                cursor: pointer; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-name i#copy-link:hover, body .container .site-content .directory .directory-results .standards .standard-header .standard-name i#copy-link:hover {
                  color: #4e4f52; }
              html .container .site-content .directory .directory-results .standards .standard-header .standard-name div.copy-link, body .container .site-content .directory .directory-results .standards .standard-header .standard-name div.copy-link {
                display: none;
                background-color: #fff;
                text-decoration: underline;
                float: right;
                cursor: pointer; }
            html .container .site-content .directory .directory-results .standards .standard-header .standard-info, body .container .site-content .directory .directory-results .standards .standard-header .standard-info {
              border-bottom: solid;
              width: 875px;
              padding: 5px;
              padding-bottom: 40px; }
              html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics {
                display: inline;
                float: left; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics a, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics a {
                  border-color: #499AA0;
                  text-decoration: none;
                  color: #353638; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric {
                  width: 30px;
                  height: 30px;
                  border-radius: 5px;
                  border: 0px;
                  margin: 2px; }
                  html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric:hover, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric:hover {
                    cursor: pointer; }
              html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items {
                display: inline;
                float: right;
                font-size: 15px;
                padding: 5px; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #updated, html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #added, html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #version, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #updated, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #added, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #version {
                  display: inline; }
            html .container .site-content .directory .directory-results .standards .standard-header a.hide-show:hover, body .container .site-content .directory .directory-results .standards .standard-header a.hide-show:hover {
              cursor: pointer; }
          html .container .site-content .directory .directory-results .standards .standard-body, body .container .site-content .directory .directory-results .standards .standard-body {
            text-align: justify; }
            html .container .site-content .directory .directory-results .standards .standard-body li, body .container .site-content .directory .directory-results .standards .standard-body li {
              padding-right: 10px;
              padding-bottom: 7px; }
              html .container .site-content .directory .directory-results .standards .standard-body li a, body .container .site-content .directory .directory-results .standards .standard-body li a {
                border-color: #499AA0;
                text-decoration: none;
                color: #353638; }
              html .container .site-content .directory .directory-results .standards .standard-body li button#metric, body .container .site-content .directory .directory-results .standards .standard-body li button#metric {
                width: 30px;
                height: 30px;
                border-radius: 5px;
                border: 0px;
                margin: 2px; }
                html .container .site-content .directory .directory-results .standards .standard-body li button#metric:hover, body .container .site-content .directory .directory-results .standards .standard-body li button#metric:hover {
                  cursor: pointer; }
        html .container .site-content .directory .directory-results .standard-links, body .container .site-content .directory .directory-results .standard-links {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          text-align: center;
          margin-bottom: 30px; }
          html .container .site-content .directory .directory-results .standard-links a, body .container .site-content .directory .directory-results .standard-links a {
            text-decoration: none; }
          html .container .site-content .directory .directory-results .standard-links a button, body .container .site-content .directory .directory-results .standard-links a button {
            border: solid;
            border-color: #E8C047; }
          html .container .site-content .directory .directory-results .standard-links button, body .container .site-content .directory .directory-results .standard-links button {
            color: #E8C047;
            text-align: center;
            background-color: #FFFeF7;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            border: 1px;
            width: 225px;
            cursor: pointer;
            padding: 20px;
            margin: 0px; }
            html .container .site-content .directory .directory-results .standard-links button:hover, body .container .site-content .directory .directory-results .standard-links button:hover {
              background-color: #E8C047;
              color: #FFFeF7; }

/*# sourceMappingURL=page-2.css.map */
