@import url(https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px;
  background-color: #F2F1E4;
  height: 100%; }
  html .container, body .container {
    min-height: 100%;
    position: relative; }
    html .container .header, body .container .header {
      position: fixed;
      width: 100%; }
      html .container .header ul, body .container .header ul {
        background-color: #5D4157;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden; }
        html .container .header ul li, body .container .header ul li {
          text-align: center;
          display: inline-block;
          top: 0; }
          html .container .header ul li a, body .container .header ul li a {
            font-size: 30px;
            font-family: "Pathway Gothic One", sans-serif;
            display: inline-block;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            color: #F2F1E4; }
            html .container .header ul li a:hover, body .container .header ul li a:hover {
              background-color: #F2F1E4;
              color: #5D4157; }
        html .container .header ul li.selected-page a, body .container .header ul li.selected-page a {
          background-color: #F2F1E4;
          color: #5D4157; }
    html .container .site-content, body .container .site-content {
      padding-bottom: 60px;
      padding-top: 60px;
      background: url("/images/background.png");
      background-size: 100%; }
      html .container .site-content h1, body .container .site-content h1 {
        padding: 15px;
        font-family: "Pathway Gothic One", sans-serif;
        color: #545658;
        font-size: 50px; }
      html .container .site-content .directory .search-to-directory input, body .container .site-content .directory .search-to-directory input {
        width: 840px;
        font-family: "Lato", sans-serif;
        font-size: 22px;
        padding: 12px 45px;
        padding-bottom: 19px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 2px;
        border-style: solid;
        border-color: #545658;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      html .container .site-content .directory .search-to-directory button.search-button, body .container .site-content .directory .search-to-directory button.search-button {
        margin-left: auto 0px;
        font-size: 22px;
        width: 60px;
        background-color: #A8CABA;
        padding: 15px 10px;
        padding-bottom: 21px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px;
        border-style: solid;
        border-color: #545658;
        color: #545658;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
        html .container .site-content .directory .search-to-directory button.search-button:hover, body .container .site-content .directory .search-to-directory button.search-button:hover {
          background-color: #c8ddd3;
          cursor: pointer; }
      html .container .site-content .directory .click-to-directory h2, body .container .site-content .directory .click-to-directory h2 {
        font-family: "Lato", sans-serif;
        color: #545658; }
      html .container .site-content .directory .click-to-directory .row-1, body .container .site-content .directory .click-to-directory .row-1 {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer; }
        html .container .site-content .directory .click-to-directory .row-1::after, body .container .site-content .directory .click-to-directory .row-1::after {
          clear: both;
          content: "";
          display: block; }
        html .container .site-content .directory .click-to-directory .row-1 .square, body .container .site-content .directory .click-to-directory .row-1 .square {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-right: 0;
          text-align: center;
          background-color: #A8CABA;
          color: #545658;
          font-family: "Lato", sans-serif;
          font-size: 20px;
          border-radius: 5px;
          width: 170px;
          height: 140px;
          margin: 5px;
          padding: 10px; }
          html .container .site-content .directory .click-to-directory .row-1 .square:last-child, body .container .site-content .directory .click-to-directory .row-1 .square:last-child {
            margin-right: 0; }
          html .container .site-content .directory .click-to-directory .row-1 .square:hover, body .container .site-content .directory .click-to-directory .row-1 .square:hover {
            background-color: #c8ddd3;
            font-size: 15px; }
      html .container .site-content .directory .click-to-directory .row-2, body .container .site-content .directory .click-to-directory .row-2 {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer; }
        html .container .site-content .directory .click-to-directory .row-2::after, body .container .site-content .directory .click-to-directory .row-2::after {
          clear: both;
          content: "";
          display: block; }
        html .container .site-content .directory .click-to-directory .row-2 .square, body .container .site-content .directory .click-to-directory .row-2 .square {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          margin-right: 0;
          text-align: center;
          background-color: #A8CABA;
          color: #545658;
          font-family: "Lato", sans-serif;
          font-size: 20px;
          border-radius: 5px;
          width: 170px;
          height: 140px;
          margin: 5px;
          padding: 10px; }
          html .container .site-content .directory .click-to-directory .row-2 .square:last-child, body .container .site-content .directory .click-to-directory .row-2 .square:last-child {
            margin-right: 0; }
          html .container .site-content .directory .click-to-directory .row-2 .square:hover, body .container .site-content .directory .click-to-directory .row-2 .square:hover {
            background-color: #c8ddd3;
            font-size: 15px; }
      html .container .site-content .directory .directory-results, body .container .site-content .directory .directory-results {
        display: none;
        font-family: "Lato", sans-serif;
        color: #545658;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto; }
        html .container .site-content .directory .directory-results::after, body .container .site-content .directory .directory-results::after {
          clear: both;
          content: "";
          display: block; }
        html .container .site-content .directory .directory-results .legend, body .container .site-content .directory .directory-results .legend {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          background-color: #A8CABA;
          border: solid;
          border-color: #F2F1E4;
          padding: 5px; }
          html .container .site-content .directory .directory-results .legend .legend-metrics, body .container .site-content .directory .directory-results .legend .legend-metrics {
            padding-top: 10px; }
            html .container .site-content .directory .directory-results .legend .legend-metrics a, body .container .site-content .directory .directory-results .legend .legend-metrics a {
              border-color: #A8CABA; }
            html .container .site-content .directory .directory-results .legend .legend-metrics button#metric, body .container .site-content .directory .directory-results .legend .legend-metrics button#metric {
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 5px;
              border: 0px;
              margin: 2px;
              font-family: "Lato", sans-serif; }
              html .container .site-content .directory .directory-results .legend .legend-metrics button#metric:hover, body .container .site-content .directory .directory-results .legend .legend-metrics button#metric:hover {
                cursor: pointer; }
        html .container .site-content .directory .directory-results .click-to-learn, body .container .site-content .directory .directory-results .click-to-learn {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          text-align: center;
          margin-bottom: 30px; }
          html .container .site-content .directory .directory-results .click-to-learn a, body .container .site-content .directory .directory-results .click-to-learn a {
            text-decoration: none; }
          html .container .site-content .directory .directory-results .click-to-learn a button, body .container .site-content .directory .directory-results .click-to-learn a button {
            border: solid;
            border-color: #F2F1E4; }
          html .container .site-content .directory .directory-results .click-to-learn button, body .container .site-content .directory .directory-results .click-to-learn button {
            color: #545658;
            text-align: center;
            background-color: #A8CABA;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            width: 448px;
            cursor: pointer;
            padding: 20px;
            margin: 0px; }
            html .container .site-content .directory .directory-results .click-to-learn button:hover, body .container .site-content .directory .directory-results .click-to-learn button:hover {
              background-color: #F2F1E4;
              color: #A8CABA;
              border-color: #A8CABA; }
        html .container .site-content .directory .directory-results .no-results, body .container .site-content .directory .directory-results .no-results {
          display: none;
          color: #545658;
          font-family: "Lato", sans-serif; }
        html .container .site-content .directory .directory-results .filters, body .container .site-content .directory .directory-results .filters {
          padding: 5px;
          font-size: 20; }
          html .container .site-content .directory .directory-results .filters strong, body .container .site-content .directory .directory-results .filters strong {
            padding: 5px;
            display: inline; }
          html .container .site-content .directory .directory-results .filters .search-title, body .container .site-content .directory .directory-results .filters .search-title {
            display: inline; }
            html .container .site-content .directory .directory-results .filters .search-title a, body .container .site-content .directory .directory-results .filters .search-title a {
              background-color: #F2F1E4;
              border: solid;
              border-color: #E8C047;
              border-radius: 5px; }
          html .container .site-content .directory .directory-results .filters .dropdown, body .container .site-content .directory .directory-results .filters .dropdown {
            background-color: #F2F1E4;
            border: solid;
            border-color: #E8C047;
            border-radius: 5px;
            color: #545658;
            padding: 5px;
            cursor: pointer; }
        html .container .site-content .directory .directory-results .standards, body .container .site-content .directory .directory-results .standards {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          border: solid;
          border-color: #E8C047;
          color: #545658;
          font-family: "Lato", sans-serif;
          background-color: #F2F1E4;
          width: 900px;
          margin-top: 5px;
          padding: 10px; }
          html .container .site-content .directory .directory-results .standards:hover, body .container .site-content .directory .directory-results .standards:hover {
            cursor: pointer; }
          html .container .site-content .directory .directory-results .standards .standard-header, body .container .site-content .directory .directory-results .standards .standard-header {
            text-align: justify; }
            html .container .site-content .directory .directory-results .standards .standard-header .standard-name, body .container .site-content .directory .directory-results .standards .standard-header .standard-name {
              font-size: 20px;
              width: 100%;
              padding: 5px;
              padding-bottom: 10px;
              border-bottom: solid; }
            html .container .site-content .directory .directory-results .standards .standard-header .standard-info, body .container .site-content .directory .directory-results .standards .standard-header .standard-info {
              border-bottom: solid;
              width: 875px;
              padding: 5px;
              padding-bottom: 40px; }
              html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics {
                display: inline;
                float: left; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics a, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics a {
                  border-color: #A8CABA; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric {
                  width: 30px;
                  height: 30px;
                  border-radius: 5px;
                  border: 0px;
                  margin: 2px; }
                  html .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric:hover, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .metrics button#metric:hover {
                    cursor: pointer;
                    width: 32px;
                    height: 32px; }
              html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items {
                display: inline;
                float: right;
                font-size: 15px;
                padding: 5px; }
                html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #updated, html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #added, html .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #version, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #updated, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #added, body .container .site-content .directory .directory-results .standards .standard-header .standard-info .standard-items #version {
                  display: inline; }
          html .container .site-content .directory .directory-results .standards .standard-body, body .container .site-content .directory .directory-results .standards .standard-body {
            text-align: justify; }
            html .container .site-content .directory .directory-results .standards .standard-body li, body .container .site-content .directory .directory-results .standards .standard-body li {
              padding-right: 10px;
              padding-bottom: 7px; }
        html .container .site-content .directory .directory-results .standard-links, body .container .site-content .directory .directory-results .standard-links {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          text-align: center;
          margin-bottom: 30px; }
          html .container .site-content .directory .directory-results .standard-links a, body .container .site-content .directory .directory-results .standard-links a {
            text-decoration: none; }
          html .container .site-content .directory .directory-results .standard-links a button, body .container .site-content .directory .directory-results .standard-links a button {
            border: solid;
            border-color: #E8C047; }
          html .container .site-content .directory .directory-results .standard-links button, body .container .site-content .directory .directory-results .standard-links button {
            color: #E8C047;
            text-align: center;
            background-color: #F2F1E4;
            font-family: "Lato", sans-serif;
            font-size: 15px;
            border: 1px;
            width: 300px;
            cursor: pointer;
            padding: 20px;
            margin: 0px; }
            html .container .site-content .directory .directory-results .standard-links button:hover, body .container .site-content .directory .directory-results .standard-links button:hover {
              background-color: #E8C047;
              color: #F2F1E4; }
    html .container .footer, body .container .footer {
      background-color: #5D4157;
      font-family: "Pathway Gothic One", sans-serif;
      color: #F2F1E4;
      padding: 20px;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-top: 0px; }
      html .container .footer a, body .container .footer a {
        text-decoration: none;
        color: #F2F1E4; }
        html .container .footer a:hover, body .container .footer a:hover {
          color: #F2F1E4; }

/*# sourceMappingURL=page-2.css.map */
