@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px;
  height: 100%;
  background-color: #FFFeF7; }
  html .container, body .container {
    min-height: 100%;
    position: relative; }
    html .container .site-content, body .container .site-content {
      padding-bottom: 40px;
      padding-top: 60px;
      background: url("/images/background.png"); }
      html .container .site-content h1, body .container .site-content h1 {
        padding: 30px;
        background-color: #FFFeF7;
        margin: 0px;
        font-family: "Lato", sans-serif;
        color: #353638;
        font-size: 50px; }
      html .container .site-content i, body .container .site-content i {
        color: #353638; }
      html .container .site-content .click-to-learn, body .container .site-content .click-to-learn {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        background-color: #FFFeF7;
        margin-top: 20px;
        border-top: solid;
        border-bottom: solid;
        border-color: #E8C047;
        margin-bottom: 30px; }
        html .container .site-content .click-to-learn::after, body .container .site-content .click-to-learn::after {
          clear: both;
          content: "";
          display: block; }
        html .container .site-content .click-to-learn div.to-learn, body .container .site-content .click-to-learn div.to-learn {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-right: 0;
          width: 50%; }
          html .container .site-content .click-to-learn div.to-learn:last-child, body .container .site-content .click-to-learn div.to-learn:last-child {
            margin-right: 0; }
          html .container .site-content .click-to-learn div.to-learn h1, body .container .site-content .click-to-learn div.to-learn h1 {
            font-family: "PT Sans Narrow", sans-serif;
            color: #353638; }
          html .container .site-content .click-to-learn div.to-learn h2, body .container .site-content .click-to-learn div.to-learn h2 {
            font-family: "Lato", sans-serif;
            color: #353638;
            font-size: 20px;
            text-align: justify;
            padding-left: 15px;
            padding-right: 15px; }
            html .container .site-content .click-to-learn div.to-learn h2 a, body .container .site-content .click-to-learn div.to-learn h2 a {
              color: #499AA0;
              text-decoration: none; }
              html .container .site-content .click-to-learn div.to-learn h2 a:hover, body .container .site-content .click-to-learn div.to-learn h2 a:hover {
                color: #64b2b8; }
        html .container .site-content .click-to-learn a div.to-learn, body .container .site-content .click-to-learn a div.to-learn {
          margin-top: 0px;
          padding: 10px;
          font-family: "Lato", sans-serif;
          color: #FFFeF7;
          background-color: #E8C047;
          font-size: 20px;
          text-decoration: none;
          cursor: pointer;
          border-top: solid 5px;
          border-bottom: solid;
          border-color: #E8C047; }
          html .container .site-content .click-to-learn a div.to-learn:hover, body .container .site-content .click-to-learn a div.to-learn:hover {
            background-color: #FFFeF7;
            color: #E8C047; }

/*# sourceMappingURL=page-1.css.map */
