@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px 0px;
  background-color: #FFFeF7;
  height: 100%; }
  html .container, body .container {
    min-height: 100%;
    position: relative;
    background: url("/images/background.png");
    background-repeat: repeat;
    background-size: 100%; }
    html .container .header, body .container .header {
      position: fixed;
      width: 100%; }
      html .container .header ul, body .container .header ul {
        background-color: #2B1F2A;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden; }
        html .container .header ul li, body .container .header ul li {
          text-align: center;
          display: inline-block;
          top: 0; }
          html .container .header ul li a, body .container .header ul li a {
            font-size: 30px;
            font-family: "PT Sans Narrow", sans-serif;
            display: inline-block;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
            color: #FFFeF7; }
            html .container .header ul li a:hover, body .container .header ul li a:hover {
              background-color: #FFFeF7;
              color: #2B1F2A;
              border-color: #FFFeF7; }
        html .container .header ul li.selected-page a, body .container .header ul li.selected-page a {
          background-color: #FFFeF7;
          color: #2B1F2A; }
    html .container .site-content, body .container .site-content {
      padding-bottom: 60px;
      padding-top: 60px; }
      html .container .site-content h1, body .container .site-content h1 {
        padding: 30px;
        background-color: #FFFeF7;
        margin: 0px;
        font-family: "Lato", sans-serif;
        color: #353638;
        font-size: 50px; }
      html .container .site-content .description-box, body .container .site-content .description-box {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-size: 20px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #499AA0;
        font-family: "Lato", sans-serif;
        color: #353638;
        width: 900px;
        text-align: center;
        border-radius: 5px;
        padding: 25px;
        text-align: justify; }
        html .container .site-content .description-box img, body .container .site-content .description-box img {
          text-align: center;
          display: block;
          margin: 0 auto;
          margin-top: 20px;
          border: solid;
          border-color: #353638;
          border-radius: 5px; }
        html .container .site-content .description-box p.credit, body .container .site-content .description-box p.credit {
          text-align: center; }
        html .container .site-content .description-box .legend, body .container .site-content .description-box .legend {
          padding: 5px;
          padding-top: 10px; }
          html .container .site-content .description-box .legend a, body .container .site-content .description-box .legend a {
            border-color: #499AA0; }
          html .container .site-content .description-box .legend button#metric, body .container .site-content .description-box .legend button#metric {
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            border: 0px;
            margin: 2px;
            font-family: "Lato", sans-serif; }
            html .container .site-content .description-box .legend button#metric:hover, body .container .site-content .description-box .legend button#metric:hover {
              cursor: pointer; }
        html .container .site-content .description-box .legend-metrics, body .container .site-content .description-box .legend-metrics {
          margin-top: 10px; }
        html .container .site-content .description-box a, body .container .site-content .description-box a {
          text-decoration: none;
          color: #FFFeF7; }
    html .container .footer, body .container .footer {
      background-color: #2B1F2A;
      font-family: "PT Sans Narrow", sans-serif;
      color: #FFFeF7;
      padding: 20px;
      position: absolute;
      bottom: 0;
      width: 100%; }
      html .container .footer a, body .container .footer a {
        text-decoration: none;
        color: #FFFeF7; }
        html .container .footer a:hover, body .container .footer a:hover {
          color: #FFFeF7; }

/*# sourceMappingURL=page-5.css.map */
