.search-to-directory
	margin-top: 30px

	input
		width: 840px
		margin-right: 5px
		font-family: $body-font
		font-size: 22px
		padding: 15px
		padding-top: 12px
		border: 2px
		border-style: solid
		border-color: $dark-font-color
		text-align: center