@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer {
  background-color: #2B1F2A;
  font-family: "PT Sans Narrow", sans-serif;
  color: #FFFeF7;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  position: absolute; }
  .footer a {
    text-decoration: none;
    color: #FFFeF7; }
    .footer a:hover {
      color: #FFFeF7; }

.header {
  position: fixed;
  width: 100%; }
  .header ul {
    background-color: #2B1F2A;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .header ul li {
      text-align: center;
      display: inline-block;
      top: 0; }
      .header ul li a {
        font-size: 30px;
        font-family: "PT Sans Narrow", sans-serif;
        display: inline-block;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        color: #FFFeF7; }
        .header ul li a i {
          color: #FFFeF7; }
      .header ul li .page-content {
        display: none;
        background-color: #2B1F2A;
        color: #FFFeF7;
        position: absolute;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; }
        .header ul li .page-content a {
          width: 170px;
          display: block;
          font-size: 18px; }
      .header ul li:hover a, .header ul li:hover i {
        background-color: white;
        color: #2B1F2A; }
      .header ul li:hover .page-content {
        display: block; }
        .header ul li:hover .page-content a:hover {
          background-color: white;
          color: #2B1F2A; }
    .header ul li.selected-page a {
      background-color: white;
      color: #2B1F2A; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  background-color: #FFFFFF;
  height: 100%; }
  html .container, body .container {
    min-height: 100%;
    position: relative; }
    html .container .site-content, body .container .site-content {
      padding-top: 60px;
      width: 100%;
      min-height: 100%;
      padding-bottom: 60px; }

.click-to-directory h2 {
  font-family: "Lato", sans-serif;
  color: #353638; }
.click-to-directory .row-1 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .click-to-directory .row-1::after {
    clear: both;
    content: "";
    display: block; }
.click-to-directory .row-2 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .click-to-directory .row-2::after {
    clear: both;
    content: "";
    display: block; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.directory .directory-results {
  display: none;
  font-family: "Lato", sans-serif;
  color: #353638;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .directory .directory-results::after {
    clear: both;
    content: "";
    display: block; }
.directory .no-results {
  display: none;
  color: #353638;
  font-family: "Lato", sans-serif; }
.directory .directory-items {
  padding: 5px;
  font-size: 18px;
  display: inline; }
  .directory .directory-items .search-title {
    float: left; }
  .directory .directory-items .filters {
    float: right;
    padding: 20px 0px; }
    .directory .directory-items .filters .dropdown {
      background-color: #FFFeF7;
      border: solid;
      border-color: #E8C047;
      border-radius: 5px;
      color: #353638;
      padding: 5px;
      cursor: pointer; }
.directory .standards {
  border: solid;
  border-color: #E8C047;
  color: #353638;
  font-family: "Lato", sans-serif;
  background-color: #FFFeF7;
  width: 900px;
  margin-top: 50px;
  padding: 10px; }
  .directory .standards .standard-header {
    text-align: justify; }
    .directory .standards .standard-header .standard-name {
      font-size: 20px;
      width: 100%;
      padding: 5px;
      padding-bottom: 10px;
      border-bottom: solid; }
      .directory .standards .standard-header .standard-name i#copy-link {
        float: right;
        cursor: pointer; }
        .directory .standards .standard-header .standard-name i#copy-link:hover {
          color: #4e4f52; }
      .directory .standards .standard-header .standard-name div.copy-link {
        display: none;
        background-color: #fff;
        text-decoration: underline;
        float: right;
        cursor: pointer; }
    .directory .standards .standard-header .standard-info {
      border-bottom: solid;
      width: 875px;
      padding: 5px;
      padding-bottom: 40px; }
      .directory .standards .standard-header .standard-info .metrics {
        display: inline;
        float: left; }
        .directory .standards .standard-header .standard-info .metrics a {
          border-color: #499AA0;
          text-decoration: none;
          color: #353638; }
        .directory .standards .standard-header .standard-info .metrics button#metric {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          border: 0px;
          margin: 2px; }
          .directory .standards .standard-header .standard-info .metrics button#metric:hover {
            cursor: pointer; }
          .directory .standards .standard-header .standard-info .metrics button#metric i {
            color: #fff; }
      .directory .standards .standard-header .standard-info .standard-items {
        display: inline;
        float: right;
        font-size: 15px;
        padding: 5px; }
        .directory .standards .standard-header .standard-info .standard-items #updated, .directory .standards .standard-header .standard-info .standard-items #added, .directory .standards .standard-header .standard-info .standard-items #version {
          display: inline; }
    .directory .standards .standard-header a.hide-show {
      text-align: left;
      font-size: 20px; }
      .directory .standards .standard-header a.hide-show:hover {
        cursor: pointer; }
  .directory .standards .standard-body {
    text-align: justify; }
    .directory .standards .standard-body li {
      padding-right: 10px;
      padding-bottom: 7px; }
      .directory .standards .standard-body li a {
        border-color: #499AA0;
        text-decoration: none;
        color: #353638; }
      .directory .standards .standard-body li button#metric {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 0px;
        margin: 2px; }
        .directory .standards .standard-body li button#metric:hover {
          cursor: pointer; }
        .directory .standards .standard-body li button#metric i {
          color: #fff; }
.directory .standard-links {
  text-align: center;
  margin-bottom: 30px; }
  .directory .standard-links a {
    text-decoration: none; }
  .directory .standard-links a button {
    border: solid;
    border-color: #E8C047; }
  .directory .standard-links button {
    color: #E8C047;
    text-align: center;
    background-color: #FFFeF7;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    border: 1px;
    width: 225px;
    cursor: pointer;
    padding: 20px;
    margin: 0px; }
    .directory .standard-links button:hover {
      background-color: #E8C047;
      color: #FFFeF7; }

.form-add {
  display: none; }

.hide-show {
  text-align: center;
  display: block;
  color: #499AA0; }
  .hide-show:hover {
    cursor: pointer;
    color: #39787d; }
  .hide-show i {
    margin-right: 10px; }

.form p.highlight {
  border: solid;
  border-color: #2B1F2A;
  background-color: #b396b1; }
.form p {
  text-align: left;
  margin-bottom: 20px;
  border: solid;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  background-color: #499AA0; }
  .form p label {
    font-weight: bold;
    width: 20%; }
  .form p p label a {
    float: left; }
  .form p a {
    margin-left: 5px;
    text-align: left; }
    .form p a:hover {
      cursor: pointer; }
  .form p input {
    height: 30px;
    margin-top: -3px; }
  .form p input[type="text"], .form p select {
    float: right;
    width: 70%;
    padding: 3px;
    font-family: "Lato", sans-serif;
    border: 0px; }
    .form p input[type="text"]:hover, .form p select:hover {
      cursor: text; }
.form .checkbox input[type="checkbox"] {
  width: 20px;
  margin-left: 50px; }
  .form .checkbox input[type="checkbox"]:hover {
    cursor: pointer; }
.form p.shortform {
  display: block; }
.form p.rationale {
  margin-left: 15px; }
.form p.metadata {
  display: none; }
.form p.timestamp {
  display: none; }
.form p.category {
  padding-bottom: 25px;
  display: none; }
  .form p.category input#input1-other {
    display: none; }
.form form.update-standard p {
  display: block; }
.form form.update-standard p.timestamp {
  display: none; }

.add-standard p {
  display: none; }

.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #499AA0;
  color: #353638;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer; }
  .button:hover {
    background-color: #64b2b8;
    cursor: pointer; }

.active-tab {
  background-color: #E8C047;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent; }
  .active-tab:hover {
    cursor: default;
    background-color: #E8C047; }

.inactive-tab {
  cursor: pointer;
  margin: 0px 20px;
  margin: 30px; }

.categories {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  font-size: 18px;
  width: 170px;
  height: 140px;
  margin: 5px;
  padding: 10px; }
  .categories:last-child {
    margin-right: 0; }
  .categories .definition {
    display: none;
    font-size: 13px;
    text-align: center;
    padding: 0px 10px; }

.text-container {
  border: solid;
  border-color: #E8C047;
  color: #353638;
  font-family: "Lato", sans-serif;
  background-color: #FFFeF7;
  width: 900px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 30px;
  padding-right: 80px;
  padding-left: 80px;
  text-align: justify; }
  .text-container a {
    color: #499AA0;
    text-decoration: none; }
    .text-container a:hover {
      color: #64b2b8; }
    .text-container a i {
      color: white; }
  .text-container img {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid;
    border-color: #353638;
    border-radius: 5px; }
  .text-container p.credit {
    text-align: center; }
  .text-container button#metric {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    margin: 2px;
    font-family: "Lato", sans-serif; }
    .text-container button#metric:hover {
      cursor: pointer; }
  .text-container p {
    text-align: justify;
    padding-right: 70px; }
  .text-container button {
    text-align: center;
    width: 735px;
    background-color: #87c4c8;
    color: #353638;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    border: 3px solid #499AA0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer; }
    .text-container button:hover {
      background-color: #499AA0;
      color: #353638;
      cursor: pointer; }

h1 {
  border-bottom: 2px solid #E8C047;
  font-family: "Lato", sans-serif;
  color: #353638;
  padding-bottom: 20px;
  font-size: 40px;
  word-spacing: 15px; }

h2 {
  font-family: "Lato", sans-serif; }

.form-info {
  text-align: center; }

.popup {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  border-color: #499AA0;
  background-color: #f0f8f8;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #353638; }

.succes {
  display: none; }

.error {
  display: none; }

.small {
  width: 400px; }

.large {
  width: 895px; }

.medium {
  width: 600px; }

.long {
  height: 60px; }

.search-to-directory {
  margin-top: 30px; }
  .search-to-directory input {
    width: 840px;
    margin-right: 5px;
    font-family: "Lato", sans-serif;
    font-size: 22px;
    padding: 15px;
    padding-top: 12px;
    border: 2px;
    border-style: solid;
    border-color: #353638;
    text-align: center; }

/*# sourceMappingURL=stlesheet.css.map */
