@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.footer {
  background-color: #2B1F2A;
  font-family: "PT Sans Narrow", sans-serif;
  color: #FFFeF7;
  padding: 20px;
  bottom: 0px;
  width: 100%;
  position: absolute; }
  .footer a {
    text-decoration: none;
    color: #FFFeF7; }
    .footer a:hover {
      color: #FFFeF7; }

html, body {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  height: 100%; }
  html .container, body .container {
    min-height: 100%;
    position: relative; }
    html .container .site-content, body .container .site-content {
      padding-top: 110px;
      width: 100%;
      min-height: 100%;
      padding-bottom: 60px; }

.click-to-directory h2 {
  font-family: "Lato", sans-serif;
  color: #353638; }

.click-to-directory .row-1 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .click-to-directory .row-1::after {
    clear: both;
    content: "";
    display: block; }

.click-to-directory .row-2 {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .click-to-directory .row-2::after {
    clear: both;
    content: "";
    display: block; }

.directory .directory-results {
  font-family: "Lato", sans-serif;
  color: #353638;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto; }
  .directory .directory-results::after {
    clear: both;
    content: "";
    display: block; }

.directory .no-results {
  color: #353638;
  font-family: "Lato", sans-serif; }

.directory .directory-items {
  padding: 5px;
  font-size: 18px;
  display: inline; }
  .directory .directory-items .search-title {
    float: left; }
  .directory .directory-items .filters {
    float: right; }
    .directory .directory-items .filters .dropdown {
      border: solid;
      color: #353638;
      padding: 5px;
      margin-left: 10px;
      cursor: pointer;
      font-family: "Lato", sans-serif;
      border: 1px;
      border-style: solid;
      border-color: #353638;
      text-align: center; }

.directory .standard {
  border: solid;
  border-color: #E8C047;
  color: #353638;
  font-family: "Lato", sans-serif;
  background-color: #FFFeF7;
  width: 900px;
  margin-top: 50px;
  padding: 20px;
  padding-top: 10px; }
  .directory .standard .standard-header {
    text-align: justify; }
    .directory .standard .standard-header .standard-name {
      font-size: 20px;
      width: 100%;
      padding: 5px;
      padding-bottom: 10px;
      border-bottom: solid; }
      .directory .standard .standard-header .standard-name .standard-category {
        font-size: 11px;
        color: #353638;
        padding: 2px 1px;
        background-color: #87c4c8;
        width: 100px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #499AA0;
        float: right;
        display: inline;
        cursor: pointer;
        margin-left: 5px; }
        .directory .standard .standard-header .standard-name .standard-category:hover {
          background-color: #499AA0;
          color: #353638;
          cursor: pointer; }
      .directory .standard .standard-header .standard-name i#copy-link {
        float: right;
        cursor: pointer;
        margin-left: 20px; }
        .directory .standard .standard-header .standard-name i#copy-link:hover {
          color: #4e4f52; }
      .directory .standard .standard-header .standard-name div.copy-link {
        display: none;
        background-color: #fff;
        text-decoration: underline;
        float: right;
        cursor: pointer; }
      .directory .standard .standard-header .standard-name #publisher {
        font-size: 14px; }
    .directory .standard .standard-header .standard-info {
      border-bottom: solid;
      padding: 5px;
      padding-bottom: 40px; }
      .directory .standard .standard-header .standard-info .metrics {
        display: inline;
        float: left; }
        .directory .standard .standard-header .standard-info .metrics a {
          border-color: #499AA0;
          text-decoration: none;
          color: #353638; }
        .directory .standard .standard-header .standard-info .metrics button#metric {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          border: 0px;
          margin: 2px; }
          .directory .standard .standard-header .standard-info .metrics button#metric:hover {
            cursor: pointer; }
          .directory .standard .standard-header .standard-info .metrics button#metric i {
            color: #fff; }
      .directory .standard .standard-header .standard-info i a {
        margin-left: 10px; }
      .directory .standard .standard-header .standard-info i:hover {
        cursor: pointer;
        color: #499AA0; }
      .directory .standard .standard-header .standard-info .standard-items {
        display: inline;
        float: right;
        font-size: 15px;
        padding: 5px; }
        .directory .standard .standard-header .standard-info .standard-items #updated, .directory .standard .standard-header .standard-info .standard-items #added, .directory .standard .standard-header .standard-info .standard-items #version {
          display: inline; }
    .directory .standard .standard-header .standard-description {
      padding: 10px 0px; }
    .directory .standard .standard-header a.hide-show {
      text-align: left;
      font-size: 20px; }
      .directory .standard .standard-header a.hide-show:hover {
        cursor: pointer; }
    .directory .standard .standard-header .standard-tags {
      margin-top: 5px;
      margin-bottom: -10px;
      text-align: left; }
      .directory .standard .standard-header .standard-tags a.tag {
        margin: 3px;
        font-size: 11px;
        color: #499AA0;
        display: inline-table; }
        .directory .standard .standard-header .standard-tags a.tag:hover {
          color: #39787d; }
    .directory .standard .standard-header .standard-body {
      text-align: justify; }
      .directory .standard .standard-header .standard-body li {
        padding-right: 10px;
        padding-bottom: 7px; }
      .directory .standard .standard-header .standard-body #providers {
        border: solid;
        border-color: #E8C047;
        padding: 10px;
        text-align: center; }
        .directory .standard .standard-header .standard-body #providers a {
          border-color: #499AA0;
          text-decoration: none;
          color: #499AA0;
          font-size: 12px;
          font-style: normal; }
          .directory .standard .standard-header .standard-body #providers a:hover {
            text-decoration: underline; }
        .directory .standard .standard-header .standard-body #providers button#metric {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          border: 0px;
          margin: 2px; }
          .directory .standard .standard-header .standard-body #providers button#metric:hover {
            cursor: pointer; }
          .directory .standard .standard-header .standard-body #providers button#metric i {
            color: #fff; }
  .directory .standard #addedFull {
    display: none;
    text-align: right;
    font-size: 11px;
    margin-top: 6px;
    margin-bottom: -12px;
    margin-right: -8px; }

.directory .standard-links {
  text-align: center;
  margin-bottom: 30px; }
  .directory .standard-links a {
    text-decoration: none; }
  .directory .standard-links a button {
    border: solid;
    border-color: #E8C047; }
  .directory .standard-links button {
    color: #E8C047;
    text-align: center;
    background-color: #FFFeF7;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    border: 1px;
    width: 225px;
    cursor: pointer;
    padding: 20px;
    margin: 0px; }
    .directory .standard-links button:hover {
      background-color: #E8C047;
      color: #FFFeF7; }

.hide-show {
  text-align: center;
  display: block;
  color: #499AA0; }
  .hide-show:hover {
    cursor: pointer;
    color: #39787d; }
  .hide-show i {
    margin-right: 10px; }

.form button.tag {
  width: auto;
  font-size: 11px;
  margin: 3px;
  padding: 4px;
  border-width: 1px; }

.form button.small {
  width: 10%;
  font-size: 14px;
  float: right;
  margin-right: -1px;
  border-width: 1px;
  padding: 5px; }

.form p.highlight {
  border: solid;
  border-color: #2B1F2A;
  background-color: #b396b1; }

.form p {
  text-align: left;
  margin-bottom: 20px;
  border: solid;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #499AA0; }
  .form p #tag-value {
    width: 62%;
    margin-right: 1%; }
  .form p #facet-label {
    width: auto;
    font-weight: normal;
    margin-right: 4px;
    float: right;
    font-style: italic;
    padding-top: 4px;
    font-size: 14px; }
  .form p label {
    font-weight: bold;
    width: 20%; }
  .form p p label a {
    float: left; }
  .form p a {
    margin-left: 5px;
    text-align: left; }
    .form p a:hover {
      cursor: pointer; }
    .form p a i {
      color: #353638; }
      .form p a i:hover {
        cursor: pointer; }
  .form p input {
    height: 30px;
    margin-top: -2px; }
  .form p input[type="text"], .form p input[type="email"], .form p textarea, .form p select {
    float: right;
    width: 72%;
    padding: 3px;
    font-family: "Lato", sans-serif;
    border: 0px;
    padding: 3px; }
    .form p input[type="text"]:hover, .form p input[type="email"]:hover, .form p textarea:hover, .form p select:hover {
      cursor: text; }

.form .checkbox input[type="checkbox"] {
  width: 20px;
  margin-left: 50px; }
  .form .checkbox input[type="checkbox"]:hover {
    cursor: pointer; }

.form p.shortform {
  display: block; }

.form p.rationale {
  margin-left: 15px; }

.form p.metadata {
  display: none; }

.form p.timestamp {
  display: none; }

.form p.category {
  height: 44px;
  display: none; }
  .form p.category input#input1-other {
    display: none; }

.form p.subcategory {
  height: 44px;
  display: none; }
  .form p.subcategory input#input41-other {
    display: none; }

.form form.update-standard p {
  display: block; }

.form form.update-standard p.timestamp {
  display: none; }

.add-standard p {
  display: none; }

.button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #499AA0;
  color: #353638;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  margin: 0px 20px;
  cursor: pointer; }
  .button:hover {
    background-color: #64b2b8;
    cursor: pointer; }

.active-tab {
  background-color: #E8C047;
  box-shadow: 0 0px 0px 0 transparent, 0 0px 0px 0 transparent; }
  .active-tab:hover {
    cursor: default;
    background-color: #E8C047; }

.inactive-tab {
  cursor: pointer;
  margin: 0px 20px;
  margin: 30px; }

.categories {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0;
  font-size: 18px;
  width: 170px;
  height: 140px;
  margin: 5px;
  padding: 10px; }
  .categories:last-child {
    margin-right: 0; }
  .categories .definition {
    display: none;
    font-size: 13px;
    text-align: center;
    padding: 0px 10px; }

.yes button {
  background: #619e81; }

.no button {
  background: #990033; }

.unsure button {
  background: #353638; }

.text-container {
  border-bottom: solid;
  border-top: solid;
  border-color: #E8C047;
  color: #353638;
  font-family: "Lato", sans-serif;
  width: 900px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 40px;
  padding-bottom: 30px;
  padding-right: 80px;
  padding-left: 80px;
  text-align: justify; }
  .text-container .allcategories {
    font-size: 20px; }
    .text-container .allcategories a.show-all {
      font-size: 12px;
      margin-left: 10px; }
      .text-container .allcategories a.show-all:hover {
        cursor: pointer; }
    .text-container .allcategories .category {
      font-size: 24px;
      padding: 5px;
        padding-text-align: left; }
      .text-container .allcategories .category a {
        color: #615958; }
        .text-container .allcategories .category a:hover {
          color: #817675; }
      .text-container .allcategories .category a.hide-show {
        display: inline;
        text-align: left;
        font-size: 20px;
          font-size-margin-right: 5px; }
        .text-container .allcategories .category a.hide-show:hover {
          cursor: pointer; }
        .text-container .allcategories .category a.hide-show i {
          color: #499AA0; }
      .text-container .allcategories .category .subcategories {
        font-size: 16px;
        margin-left: 10px; }
      .text-container .allcategories .category a {
        color: #615958; }
        .text-container .allcategories .category a:hover {
          color: #817675; }
  .text-container ul {
    margin-bottom: -8px; }
    .text-container ul li {
      padding-bottom: 12px; }
  .text-container a {
    color: #499AA0;
    text-decoration: none; }
    .text-container a:hover {
      color: #64b2b8; }
    .text-container a i {
      color: white; }
  .text-container img {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: solid;
    border-color: #353638;
    border-radius: 5px; }
  .text-container p.credit {
    text-align: center; }
  .text-container p {
    text-align: justify;
    padding-right: 20px; }
  .text-container button {
    text-align: center;
    width: 735px;
    background-color: #87c4c8;
    color: #353638;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    border: 3px solid #499AA0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer; }
    .text-container button:hover {
      background-color: #499AA0;
      color: #353638;
      cursor: pointer; }
  .text-container #glossary-metrics-color {
    text-align: center; }
    .text-container #glossary-metrics-color .row-1 {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto; }
      .text-container #glossary-metrics-color .row-1::after {
        clear: both;
        content: "";
        display: block; }
      .text-container #glossary-metrics-color .row-1 .subtitle {
        display: inline-block;
        padding: 10px;
        margin-left: 20px;
        color: #353638; }
    .text-container #glossary-metrics-color .row-2 {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto; }
      .text-container #glossary-metrics-color .row-2::after {
        clear: both;
        content: "";
        display: block; }
      .text-container #glossary-metrics-color .row-2 .metric {
        margin: 0px 15px; }
  .text-container button.metric {
    border: 1px solid black;
    background-color: #499AA0;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 2px;
    font-family: "Lato", sans-serif; }
    .text-container button.metric:hover {
      cursor: pointer;
      background-color: #87c4c8; }
    .text-container button.metric i {
      color: #353638; }
  .text-container #legend-metrics .metric:hover {
    cursor: default;
    background-color: #499AA0; }

h1 {
  border-bottom: 2px solid #E8C047;
  font-family: "Lato", sans-serif;
  color: #353638;
  padding-bottom: 30px;
  font-size: 40px;
  word-spacing: 15px; }
  h1 a {
    color: #499AA0;
    text-decoration: none; }
    h1 a:hover {
      color: #64b2b8; }
    h1 a i {
      color: white; }

h2 {
  font-family: "Lato", sans-serif; }
  h2 a {
    color: #499AA0;
    text-decoration: none; }
    h2 a:hover {
      color: #64b2b8; }
    h2 a i {
      color: white; }

.form-info {
  text-align: center; }

.link {
  border-color: #499AA0;
  text-decoration: none;
  color: #499AA0; }
  .link:hover {
    text-decoration: none; }

.popup {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  border-color: #499AA0;
  background-color: #f0f8f8;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #353638; }

.succes {
  display: none; }

.error {
  display: none; }

.very-small {
  width: 50px;
  font: 15px; }

.small {
  width: 300px; }

.medium {
  width: 600px; }

.large {
  width: 895px; }

.long {
  height: 60px; }

.short {
  height: 30px; }

.search span {
  position: absolute;
  margin-left: 20px;
  margin-top: 17px;
  font-size: 20px; }

.search input {
  font-family: "Lato", sans-serif;
  border: 1px;
  border-style: solid;
  border-color: #353638;
  text-align: center; }

.search #search {
  font-size: 20px; }

.header {
  position: fixed;
  width: 100%;
  font-family: "PT Sans Narrow", sans-serif;
  opacity: 0.99;
  z-index: 100; }
  .header .navigation ul {
    background-color: #2B1F2A;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    .header .navigation ul:hover {
      background-color: #2B1F2A; }
    .header .navigation ul li {
      text-align: center;
      display: inline-block;
      top: 0; }
      .header .navigation ul li a {
        font-size: 30px;
        width: 170px;
        display: block;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        color: #FFFeF7; }
        .header .navigation ul li a i {
          color: #FFFeF7; }
      .header .navigation ul li .page-content {
        display: none;
        background-color: #2B1F2A;
        color: #FFFeF7;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1; }
        .header .navigation ul li .page-content a {
          width: 170px;
          display: block;
          font-size: 15px;
          border-bottom: 1px solid #2B1F2A; }
      .header .navigation ul li:hover a, .header .navigation ul li:hover i {
        background-color: white;
        color: #2B1F2A; }
      .header .navigation ul li:hover .page-content {
        display: block; }
        .header .navigation ul li:hover .page-content a:hover {
          background-color: #ded1dd;
          color: #2B1F2A; }
    .header .navigation ul li.selected-page a {
      background-color: white;
      color: #2B1F2A; }
  .header .banner {
    background-color: #2B1F2A;
    color: #fff;
    border-bottom: solid 1px;
    border-color: #fff;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between; }
    .header .banner #title-link {
      display: inline;
      text-align: left;
      padding: 3px;
      cursor: pointer;
      color: #fff;
      font-size: 24px;
      text-decoration: none;
      margin-left: 8%;
      font-family: "Lato", sans-serif;
      font-weight: bold; }
      .header .banner #title-link strong {
        color: #FB6140;
        font-size: 10px; }
    .header .banner ul {
      text-align: right;
      padding: 3px 3px;
      margin-top: 0; }
      .header .banner ul li {
        display: inline-block;
        top: 0;
        margin-right: 5px; }
        .header .banner ul li:hover {
          cursor: pointer;
          background-color: #499AA0; }
        .header .banner ul li .search {
          font-size: 12px;
          padding-bottom: 6px;
          padding-top: 10px; }
        .header .banner ul li a, .header .banner ul li i {
          display: inline;
          cursor: default;
          background-color: #2B1F2A;
          font-size: 20px;
          padding: 5px;
          color: inherit;
          text-decoration: none; }
          .header .banner ul li a:hover, .header .banner ul li i:hover {
            cursor: pointer;
            background-color: #499AA0; }
