// import Google Font API
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow|Lato)
// import Bourbon neat and bourbon mixins for easily organizing layouts 
@import "neat/neat"
@import "bourbon/bourbon"

// colors for site

// dark purple for the header and footer
$banner-color: #2B1F2A
// blue for buttons
$button-color: #499AA0
// off-white
$light-font-color: #FFFeF7
// dark grey 
$dark-font-color: #353638
// yellow
$accent-color: #E8C047

// fonts for site

// font for banners and headers
$header-font: 'PT Sans Narrow', sans-serif
// font for body text
$body-font: 'Lato', sans-serif