html
  head
    title Directory
    // stylesheet
    link(rel='stylesheet', type='text/css', href='/stylesheets/page-2.css')
    // Font Awesome Icons
    script(src='https://use.fontawesome.com/5f92b1f541.js')
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // custom JS functions
    script(src='/javascripts/search.js')
    script(src='/javascripts/autosearch.js')
    script(src='/javascripts/click-to-directory.js')
    script(src='/javascripts/build-standard.js')
    script(src='/javascripts/build-metrics.js')
    script(src='/javascripts/click-on-standard.js')
    script(src='/javascripts/sort.js')
    script(src='/javascripts/build-directory.js')
  body
    .container
      include navigation.jade
      .site-content
        div
          h1 Open Data Standards Directory
        .directory
          .search-to-directory
            input#search(type='text', name='search', placeholder='search a category or open data standard')
            button.search-button
              i.fa.fa-search(aria-hidden='true')
          .click-to-directory
            h2 Click on any high-valued category to see associated open data standards
            .row-1
              .square(value='Annual Budget')
                | Annual Budget
                img.category-icon(src='/images/annual_budget.png', alt='', height='110', width='120')
                h3.definition Municipal budgets that plan for expenditure
              .square(value='Building Permits')
                | Building Permits
                img.category-icon(src='/images/building_permits.png', alt='', height='100', width='100')
                h3.definition Municial permits for construction
              .square(value='Crime Statistics')
                | Crime Statistics
                img.category-icon(src='/images/crime_statistics.png', alt='', height='100', width='115')
                h3.definition Municipal crime data, such as police responses
              .square(value='Election Results')
                | Election Results
                img.category-icon(src='/images/election_results.png', alt='', height='90', width='90')
                h3.definition Municipal major election results by consitutency/district
              .square(value='Expenditure')
                | Expenditure
                img.category-icon(src='/images/expenditure.png', alt='', height='90', width='100')
                h3.definition Municipal records of past spendings
            .row-2
              .square(value='Public Facilities')
                | Public Facilities
                img.category-icon(src='/images/public_facilities.png', alt='', height='100', width='120')
                h3.definition
                  | Municipal public amenities, such as schools or parks and their associated location information
              .square(value='Real-Time Transit')
                | Real-Time Transit
                img.category-icon(src='/images/transit.png', alt='', height='90', width='90')
                h3.definition
                  | Municipal or commissioned transit services' (e.g., buses, subway) real-time information, such as the location of a bus in real-time
              .square(value='Road Construction')
                | Road Construction
                img.category-icon(src='/images/road_construction.png', alt='', height='90', width='90')
                h3.definition Municipal current and planned road construction
              .square(value='Service Requests')
                | Service Requests
                img.category-icon(src='/images/service_requests.png', alt='', height='80', width='80')
                h3.definition
                  | Non-emergency service requests to a municipality, such as a request for graffiti removal
              .square(value='Zoning')
                | Zoning
                img.category-icon(src='/images/zoning.png', alt='', height='120', width='110')
                h3.definition Municipal specifications on what development is allowed in a given piece of land
            br
            button.all-standards View All Standards
          .directory-results
            .no-results
            .directory-items
              strong.search-title
              .filters
                strong Sort
                select#sortby.dropdown
                  option(selected='selected')
                  option(value='new') Newest
                  option(value='old') Oldest
                  option(value='updated') Last Updated
            #standards
      include footer.jade
    script.
      // create jQuery tooltip
      $( function() {
      $( document ).tooltip();
      } );
      $('#directory').addClass("selected-page");
      var url = window.location.href // stores the url the client has entered
      console.log(url)
      if (url !== 'http://localhost:3000/directory' && url !== 'https://odstandards-directory.herokuapp.com/directory') {
      var id  = getId(url) // get the id of the url
      // if there is an id, then output the standard to the directory
      if (id !== 0){
      buildDirectory(id);
      }
      }
      // obtain the id number of the url
      function getId(str) {
      if (str.indexOf("http://localhost:3000/directory") >= 0){
      return str.split('http://localhost:3000/directory/api/')[1];
      } else if (str.indexOf("https://odstandards-directory.herokuapp.com/directory") >= 0) {
      return str.split('https://odstandards-directory.herokuapp.com/directory/api/')[1];
      } else {
      return 0;
      }
      }
